.topic-pagination-list {
    margin: 10px 0px;
}

.topic-pagination {
    color: #525558;
    background: #e2e3e5;
    border: 1px solid #c3c6c9;
    text-decoration: none;
    border-radius: 2px;
    padding: 1px 5px;
    margin: 5px;
    opacity: .5;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
